<div class="container py-5">
  <div class="card">
    <h4 class="card-header text-center">Student Login Form</h4>
    <div class="card-body px-4">
      <div class="alert alert-danger" *ngIf="responseMessage">
        {{ responseMessage }}
      </div>
      <form
        class="px-3"
        #studentLoginForm="ngForm"
        (ngSubmit)="onSubmit()"
        novalidate
      >
        {{ studentLoginModel | json }}
        <div class="form-group">
          <label for="email" class="form-label">Aadhar Number</label>
          <input
            type="text"
            name="AadharNumber"
            class="form-control mb-2"
            placeholder="Aadhar Number"
            #aadhar="ngModel"
            [class.is-invalid]="aadhar.invalid && aadhar.touched"
            [(ngModel)]="studentLoginModel.AadharNumber"
            required
          />
          <small
            class="invalid-feedback mb-2"
            *ngIf="aadhar.errors && (aadhar.invalid || aadhar.touched)"
            >Please enter aadhar number</small
          >

          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="Password"
            class="form-control"
            placeholder="Password"
            #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched"
            [(ngModel)]="studentLoginModel.Password"
            required
          />
          <small
            class="invalid-feedback"
            *ngIf="password.errors && (password.invalid || password.touched)"
            >Please enter password</small
          >
        </div>

        <button
          type="submit"
          class="btn btn-lg btn-dark px-5 mt-3"
          [disabled]="studentLoginForm.form.invalid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
