<div class="container py-5">
  <div class="card">
    <h4 class="card-header text-center">My Profile</h4>
    <div class="card-body px-4">
      <form>
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="div-label" for="domicile">State of Domicile</label>
            <input
              type="text"
              class="form-control"
              value="{{ student.stateOfDomicile }}"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label class="div-label" for="domicile">District</label>
            <input
              type="text"
              class="form-control"
              value="{{ student.district }}"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label class="div-label" for="domicile">Gender</label>
            <input
              type="text"
              class="form-control"
              value="{{ student.gender }}"
              readonly
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="name" class="div-label">Name (As in Marksheet)</label>
            <input
              type="text"
              class="form-control"
              value="{{ student.studentName }}"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label for="email" class="div-label">Email</label>
            <input
              type="email"
              class="form-control"
              value="{{ student.email }}"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label for="mobile" class="div-label">Mobile</label>
            <input
              type="text"
              class="form-control"
              value="{{ student.phoneNo }}"
              readonly
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="institute-code" class="div-label">Institute Code</label>
            <input
              type="text"
              class="form-control"
              value="{{ student.instituteCode }}"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label for="dob" class="div-label">Date of Birth</label>
            <div class="input-group">
              <input
                class="form-control"
                value="{{ student.dateOfBirth }}"
                readonly
              />
            </div>
          </div>
          <div class="col-md-4">
            <label for="aadhar" class="div-label">Aadhar Number</label>
            <input
              type="text"
              class="form-control"
              value="{{ student.aadharNumber }}"
              readonly
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="ifsc-code" class="div-label">Bank IFSC Code</label>
            <input
              type="text"
              class="form-control"
              value="{{ student.bankIfscCode }}"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label for="account-number" class="div-label"
              >Bank Account Number</label
            >
            <input
              type="text"
              class="form-control"
              value="{{ student.bankAccountNumber }}"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label for="bank-name" class="div-label">Bank Name</label>
            <input
              type="text"
              class="form-control"
              value="{{ student.bankName }}"
              readonly
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
