<div class="card">
  <h4 class="card-header text-center">Frequently Asked Question</h4>
  <div class="card-body">
    <!-- <h3 class="text-center mt-2 mb-4"></h3> -->
    <div class="container">
      <p>
        <strong
          >Q1. Are the schemes open for all students enrolled in Indian
          Universities/ Colleges/ Institutes?</strong
        >
      </p>
      <p>
        <strong>Ans: </strong> Yes. The schemes are open for all the students
        who are current enrolled in an Indian University/ College/ Institute
      </p>
      <p>
        <strong
          >Q2. Is there any annual income ceiling for students to be included
          under the scheme?</strong
        >
      </p>
      <p>
        <strong>Ans: </strong> Yes, only those students whose annual family
        income is less than or equal to Rs.4 lakh per annum are covered under
        the schemes.
      </p>
      <p>
        <strong
          >Q3. Do we need to upload all the documents while filling the online
          application form?</strong
        >
      </p>
      <p>
        <strong>Ans: </strong> Yes, it is necessary to upload all the documents
        during application to carry out the verification from our end. Your
        documents will not be shared with any third party users
      </p>
      <p>
        <strong>Q4. Can students with drop years apply for the schemes?</strong>
      </p>
      <p>
        <strong>Ans: </strong> Yes. But the gap between two academic years must
        be less than or eqaul to 3 years.
      </p>
      <p>
        <strong>Q4. Can students with drop years apply for the schemes?</strong>
      </p>
      <p>
        <strong>Ans: </strong> Yes. But the gap between two academic years must
        be less than or eqaul to 3 years.
      </p>
    </div>
  </div>
</div>
