<div class="p-5 mb-4 bg-light">
  <div class="container py-5 px-5">
    <section class="headertop">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <img
              src="https://scholarships.gov.in/public/Content/img/nic_left.png"
              class="img-fluid mx-auto d-block float-xl-left float-lg-left float-md-left logoleft"
            />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1 class="text-center">National Scholarship Portal</h1>
            <h3 class="text-center">
              Ministry of Electronics & Information Technology, Government of
              India
            </h3>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <img
              src="https://scholarships.gov.in/public/Content/img/digital-india.png"
              class="img-fluid mx-auto d-block float-xl-right float-lg-right float-md-right logoright"
            />
          </div>
        </div>
        &nbsp;
        <h4 class="text-center">
          Please visit the portal regularly for latest updates and information.
        </h4>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyrJ-h8BdIdNv8VaJmGuEcJybBKTO0iQtaOQ&usqp=CAU"
              style="position: absolute; left: 40%"
            />
            <br /><br /><br /><br /><br /><br />
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h1 class="text-center" style="position: relative; left: 10%">
              Every Student Matters, Every Student Counts!
            </h1>
            <h3 class="text-center" style="position: relative; left: 10%">
              Empowering and Inspiring Students to Excel as Life Long Learners
            </h3>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
