<div class="container py-5">
  <div class="card">
    <h5 class="card-header text-center">All Students</h5>
    <div class="card-body">
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <table class="table align-middle text-center" *ngIf="students">
        <thead class="table-dark">
          <tr>
            <th scope="col">Application Id</th>
            <th scope="col">Aadhar Card</th>
            <th scope="col">Institute Code</th>
            <th scope="col">Email</th>
            <th scope="col">State Of Domicile</th>
            <th scope="col">District</th>
            <th scope="col">Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.studentId }}</td>
            <td>{{ student.aadharNumber }}</td>
            <td>{{ student.instituteCode }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.stateOfDomicile }}</td>
            <td>{{ student.district }}</td>
            <td>{{ student.gender }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
